/***************************
 * Reporting Interface
 */
#icon-Store_Locator_Plus_Reporting {
    background: url("../../core/images/StoreLocatorPlus_icons32.png") no-repeat scroll -12px -3px transparent;
}

#rb_details th {
    font-size: 12px;
    background: #F4F4DD;
    padding: 6px 20px 6px 6px;
}

#rb_details td {
    line-height: 1.5em;
}

#rb_details.reportblock .form_entry {
    width: 120px;
    text-align: center;
}

#rb_details.reportblock label {
    width: 90px;
    text-align: right;
}



#rb_details .rb_column, .section_column {
    float: left;
    border: solid 1px #F0F0FF;
    margin-right: 24px;
    padding: 0px;
    margin-top: 3px;
}


#poststuff #rb_details h2, #poststuff .section_column h2 {
    margin-bottom: 3px;  
    margin-top: 0px;
    padding: 0px 6px;
    background: #F4F4FF;
}

.section_description {
    padding-bottom: 6px;
    color: #666666;
}

.alignright {
    text-align: right;
}

/* Table Header */
#rb_details thead tr .header {
  	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;    
}

#rb_details .headerSortUp {
    background-image: url("../../core/images/arrow_sm_black_down.png");
}

#rb_details .headerSortDown {
    background-image: url("../../core/images/arrow_sm_black_up.png");
}


/* Table Body */
#rb_details tbody td {
    padding-right: 6px;
    min-width: 53px;    
}
.rowon {
    background: #F4F4F4;
}
.rowoff {
    background: #FFFFFF;
}

/* Report Block Buttons */
#rb_details input[type="button"] {
    width: 100px;
}


/***************************
 * Manage Locations Form
 */

#icon-edit-locations, #icon-locations {
    background: url("../../core/images/icon_location.png") no-repeat scroll -312px -5px transparent;
}

.add_location_form label {
    width: 120px;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

.add_location_form INPUT {
    width: 40em;
}

.add_location_form TEXTAREA {
    width: 40em;
}


/***************************
 * Map Settings
 */
 
 #icon-Store_Locator_Plus_Display_Settings {
    background: url("../../core/images/StoreLocatorPlus_icons32.png") no-repeat scroll -75px -3px transparent;
}

.form_entry {
    clear:both;
}

.section_description H3 {
	margin: 0px;
}

.section_description H4 {
	margin: 0px 0px 3px 6px;
}

.section_description label {
    width: 180px;
    float: left;
    text-align: right;
    margin: 0px 3px 0px 6px;
    display: block;
    clear: left;
}

.section_description INPUT {
    width: 20em;
}

.section_description INPUT[type="checkbox"] {
    width: 2em;
    text-align:left;
}

.section_description .input_note {
	clear: both;
	text-align: left;
	margin: 0px 0px 6px 190px;
	display: block;
	color: #888;
	width: 260px;
}

.section_description .small {
	width: 3em;
}

.slplus_innertable td {
    vertical-align: top;
    border: none;
    width: 100%;
}


/***************************
 * General Settings
 **/
#wpcontent .csl_select, #wpcontent .csl_option
{
    padding-right: 6px;
}
 
.tableRowHeader,.tableRowHeader td,.tableRowHeader th 
{
    background-color: black;
    color: white;
    font-weight: bold;
}

.tableRowHeader  td a,.tableRowHeader  th a,.widefat thead td a,.widefat thead th a
{
    color: #00aa00;
    font-weight: bold;
    text-decoration: underline;
}

.widefat,.widefat thead td a,.widefat thead th a,.widefat td,.widefat th
{
	font-size: 12px;
	border: none;
}

.widefat td td, .widefat td, .widefat th {
	border-bottom: none;
}

.widefat thead,.widefat thead tr {
	background-color: #464646;
	background-image: none;
	color: white;
}

.highlight {
	background-color: lightYellow;
	border: solid gold 1px;
	padding: 7px;
	color: #000;
}

.sl_footer td a,.sl_footer td a:link,.sl_footer td a:hover,.sl_footer td a:active,.sl_footer td a:visited
	{
	font-weight: normal;
	font-size: 8px;
}

div.feedburnerFeedBlock ul  , .sl_product_rss {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none
}

div.feedburnerFeedBlock ul li span.headline {
	font-weight: bold;
	display: block;
	margin: 12px 0 0 0;
}

div.feedburnerFeedBlock ul li span.headline {
	font-weight: bold;
}
.map_designer_section td {
	border-bottom:none;
}
.manual_add_table td, .manual_add_table td td, .manual_update_table td, .manual_update_table td td, .manual_update_table{
	border-bottom:none;
}
.manual_add_table td td td, .manual_update_table td td{
	padding-left:0px; padding-right:0px;
}
.left_side {
	border-right:solid #ddd 1px;
}

/*** Generic Formatting ***/
.floatright {
    float: right;
}
.floatleft {
    float: left;
}

.helpicon {
    padding-left: 5px;
    position: relative;
    vertical-align: top;
}

.form-table .input_label {
    vertical-align: middle;
    padding: 0px;
    text-align: right;
}

/**** Manage Locations Page ****/
.addloclink {
    float: left;
    text-align: left;
    vertical-align: bottom;
    padding-top: 9px;
    width: 100px;
}
.perpage {
    float: left;
    text-align: left;
    padding-top: 7px;
    width: 200px;
}
.searchlocations {
    float: right;
    text-align:right;
    width: 400px;
}
.viewtype {
    float: left;
    text-align: left;
    vertical-align: bottom;
    padding-top: 9px;
    width: 110px;
}

/**** Default CSL Settings Page ****/
.cybersprocket-csllogo {
    clear: both;
    text-align: center;    
}

.cybersprocket-cslinfo {
    clear: both;
    margin-top: 12px;
}
