/**
 ** file: beside_myself_results.css
 ** label: Beside Myself Results (A)
 ** description: Only the results.  "Myself" palette (blue and orange).
 ** add-ons: slp-pro,slp-enhanced-map,slp-enhanced-results,slp-enhanced-search
 ** Pro Pack Locator Layout: <div id="sl_div"><div id="sl_leftcol">[slp_map]</div><div id="sl_rightcol">[slp_search]<div id="sl_arrow_container"><div id="sl_search_arrow"></div></div>[slp_results]</div></div>
 ** Enhanced Map Bubble Layout: <div id="sl_info_bubble" class="[slp_location featured]"><span id="slp_bubble_name"><strong>[slp_location name  suffix  br]</strong></span><span id="slp_bubble_address">[slp_location address       suffix  br]</span><span id="slp_bubble_address2">[slp_location address2      suffix  br]</span><span id="slp_bubble_city">[slp_location city          suffix  comma]</span><span id="slp_bubble_state">[slp_location state suffix    space]</span><span id="slp_bubble_zip">[slp_location zip suffix  br]</span><span id="slp_bubble_country"><span id="slp_bubble_country">[slp_location country       suffix  br]</span></span><span id="slp_bubble_directions">[html br ifset directions][slp_option label_directions wrap directions]</span><span id="slp_bubble_website">[html br ifset url][slp_location url           wrap    website][slp_option label_website ifset url][html closing_anchor ifset url][html br ifset url]</span><span id="slp_bubble_email">[slp_location email         wrap    mailto ][slp_option label_email ifset email][html closing_anchor ifset email][html br ifset email]</span><span id="slp_bubble_phone">[html br ifset phone]<span class="location_detail_label">[slp_option   label_phone   ifset   phone]</span>[slp_location phone         suffix    br]</span><span id="slp_bubble_fax"><span class="location_detail_label">[slp_option   label_fax     ifset   fax  ]</span>[slp_location fax           suffix    br]<span><span id="slp_bubble_description"><span id="slp_bubble_description">[html br ifset description][slp_location description raw]</span>[html br ifset description]</span><span id="slp_bubble_hours">[html br ifset hours]<span class="location_detail_label">[slp_option   label_hours   ifset   hours]</span><span class="location_detail_hours">[slp_location hours         suffix    br]</span></span><span id="slp_bubble_img">[html br ifset img][slp_location image         wrap    img]</span><span id="slp_tags">[slp_location tags]</span></div>
 ** Enhanced Results Results Layout: <div class="results_row_left_column" id="slp_left_cell_[slp_location id]" ><span class="location_name">[slp_location name]</span><span class="slp_result_address slp_result_street">[slp_location address]</span><span class="slp_result_address slp_result_street2">[slp_location address2]</span><span class="slp_result_address slp_result_citystatezip">[slp_location city_state_zip]</span><span class="slp_result_address slp_result_phone">[slp_location phone]</span></div><div class="results_row_right_column"  id="slp_right_cell_[slp_location id]" ><span class="location_distance">[slp_location distance_1] [slp_location distance_unit]</span><span class="slp_result_contact slp_result_website">[slp_location web_link]</span><span class="slp_result_contact slp_result_directions"><a href="http://[slp_location map_domain]/maps?saddr=[slp_location search_address]&daddr=[slp_location location_address]" target="_blank" class="storelocatorlink">[slp_location directions_text]</a></span></div>
 ** Enhanced Search Search Layout: <span class="search_header">Find Our Locations</span>[slp_search_element input_with_label="address"][slp_search_element dropdown_with_label="radius"][slp_search_element button="submit"]
 **
 **/


/*---------------------
 * Entire SLPlus UI
 *---------------------*/
div#sl_div {
    display: block;
    position: relative;
    width: 100%;
}

/*---------------------
 * Left Column
 *---------------------*/
div#sl_leftcol {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    width: 0%;
    display: none;
}

/*---------------------
 * Right Column
 *---------------------*/
div#sl_rightcol {
    margin: 0px 0px 6px 0px;
    width: 100%;
}

/*---------------------
 * Map
 *---------------------*/
div#map {
    height: 0px;
    width: 0px;
    display: none;
}
/* Fix IE10 Rules */
div#map .gm-style-cc > div {
  word-wrap: normal;
}
/*---------------------
 * Search Form
 * Base + Widget Pack
 *---------------------*/
div#sl_arrow_container,
div#sl_search_arrow,
form#searchForm
{
    width: 0px;
    height: 0px;
    display: none;
}

/*---------------------
 * Results
 *---------------------*/
div#map_sidebar,
div#slpw_resultsbox #slpw_results
{
    background-color: #FFFFFF;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    height: inherit;
    overflow: auto;
}
div#slpw_resultsbox #slpw_results {
    display: none;
}
div#map_sidebar     .results_wrapper,
div#slpw_resultsbox .results_entry
{
    border-bottom: 1px dotted #000000;
    padding: 0px;
    width: 100%;
}
div#map_sidebar     .results_wrapper {
    cursor: pointer;
}
div#map_sidebar     .results_wrapper:hover,
div#slpw_resultsbox .results_entry:hover
{
    background: #ddeef3; /* Old browsers */
    background: -moz-linear-gradient(top, #ddeef3 0%, #ffffff 50%, #ffffff 51%, #ddeef3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddeef3), color-stop(50%,#ffffff), color-stop(51%,#ffffff), color-stop(100%,#ddeef3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ddeef3 0%,#ffffff 50%,#ffffff 51%,#ddeef3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ddeef3 0%,#ffffff 50%,#ffffff 51%,#ddeef3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ddeef3 0%,#ffffff 50%,#ffffff 51%,#ddeef3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ddeef3 0%,#ffffff 50%,#ffffff 51%,#ddeef3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddeef3', endColorstr='#ddeef3',GradientType=0 ); /* IE6-9 */
}
div#map_sidebar     .results_row_left_column,
div#slpw_resultsbox .results_row_left_column
{
   display:inline-block;
   padding: 6px 3px 6px 6px;
   vertical-align: top;
   width: 72%;
}
div#map_sidebar     .results_row_right_column,
div#slpw_resultsbox .results_row_right_column
{
   display:inline-block;
    padding: 6px 6px 6px 0px;
   vertical-align: top;
   width: 25%;
}
span.location_name {
    color: #3297B6;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}
span.slp_result_street,
span.slp_result_street2,
span.slp_result_citystatezip,
span.slp_result_phone
{
    font-size: 11px;
    line-height: 14px;
}
span.slp_result_street,
span.slp_result_street2 {
    display:inline-block;
}
span.slp_result_citystatezip,
span.slp_result_phone
{
    display:block;
}
span.location_distance {
    display: block;
}
span.slp_result_website {
    font:700 11px/14px "Open Sans",arial,sans-serif
}
span.slp_result_directions {
    font:700 11px/14px "Open Sans",arial,sans-serif
}

/* Tagalong result icons */
.results_line.location_iconarray > a {
    display: inline-block;
    height: auto;
    width: auto;
}
#tagalong_category_selector {
    display: block;
    height: 2em;
    width: 100%;
}
#tagalong_category_selector .category_selector.parent {
    display: block;
    float: left;
}
#tagalong_category_selector .category_selector.child {
    display: none;
    float: left;
}
#tagalong_legend {
    border: none;
    padding: 12px;
}
#tagalong_legend .legend_text {
    display: inline-block;
    margin-left: 6px;
    margin-right: 20px;
    vertical-align: middle;
}
#tagalong_legend .tagalong_legend_icon {
    display: inline-block;
    margin-bottom: 12px;
    min-width: 190px;
}