/**
 ** file: csl-slplus-cleansimplewhite.css
 ** label: Clean Simple White
 ** description: Designed to work with the Mazznoer Clean Simple White WP Theme.
 **
 **/
div#map {
    border-top: solid 1px #CCCCCC;
    border-left: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
    width: auto !important;
}
table.sl_footer {
    margin-bottom: 12px;
    border-bottom: solid 1px #CCCCCC;
    border-left: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
}
tr.slp_map_tagline td {
    color: #444444;
    background-color: #F4F4F4;
    font-size: 0.9em;
    font-style: italic;
    padding: 3px;
    text-align: right;    
}

tr.slp_results_row:hover {
    background-color: #F2F2F2;
}
tr.slp_map_search_results td {
    border: none;
    padding-bottom: 18px;
    vertical-align: text-top;
}
tr.slp_map_search_results td.results_row_left_column {
    width: 240px;
}
tr.slp_map_search_results td.results_row_right_column {
    text-align: right;
}
tr.slp_map_search_results span.location_name {
    color: #CC0000;
    font-weight: bold;
}

tr.slp_map_search_results a {
    color: #444444;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
tr.slp_map_search_results a:hover {
    color: #4444FF;
    background-color: #F2F2F2;
}

span.slp_checkbox_entry {
    padding-right: 12px;
}

span.slp_checkbox_entry input[type="checkbox"] {
    vertical-align: text-bottom;
}
span.slp_result_address {
    width: 100%;
    display: inline-block;
}
span.slp_result_phone {
    padding-top: 6px;
}