/**
 ** file: nomap-rev02.css
 ** label: No Map Rev 02
 ** description: Improved version of the No Map theme that hides the map display.  Using Enhanced Map "hide map" works with more WordPress themes and is a better solution.
 ** add-ons: slp-enhanced-map
 **
 ** Sass Source: ./assets/stylesheets/nomap-rev02.scss
 **/
/*---------------------
 * SLP Sass Imports
 *---------------------*/
.onoffswitch-block {
  display: inline-block;
  float: right;
  margin-right: 8px; }

.onoffswitch-pretext {
  display: inline-block;
  padding-right: 12px;
  vertical-align: super; }

.onoffswitch {
  display: inline-block;
  position: relative;
  width: 56px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px; }

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 17px;
  padding: 0;
  line-height: 17px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 8px;
  background-color: #2FCCFF;
  color: #FFFFFF; }

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 8px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right; }

.onoffswitch-switch {
  width: 8px;
  margin: 4.5px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 35px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

/* A div that looks like a button. */
.like-a-button {
  background: #FFF;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));
  background: -moz-linear-gradient(top, white, #dddddd);
  text-decoration: none;
  border: 1px solid #BBBBBB;
  margin: 0;
  padding: 3px 12px;
  text-align: center;
  width: auto;
  cursor: pointer;
  color: #333;
  display: inline-block;
  line-height: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px; }

.like-a-button:hover {
  background: #DDD;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF');
  background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(white));
  background: -moz-linear-gradient(top, #dddddd, white); }

.like-a-button A {
  text-decoration: none; }

#sl_info_bubble .location_detail_hours {
  white-space: pre-wrap; }

.slp_result_contact.slp_result_hours {
  white-space: pre-wrap; }

div#map img {
  background-color: transparent;
  box-shadow: none;
  border: none;
  max-width: none;
  opacity: 1.0;
  visibility: visible; }

/* Fix IE10 Rules */
div#map .gm-style-cc > div {
  word-wrap: normal; }

/* Hide the default Google bubble shadow */
div#map img[src='http://maps.gstatic.com/mapfiles/iws3.png'] {
  display: none; }

#map_box_image {
  display: block; }

#map_box_map {
  display: none; }

div#slp_tagline {
  background-color: #AABBDD;
  font-size: 11px;
  font-family: Arial, sans-serif;
  opacity: 0.45;
  filter: alpha(opacity=45);
  margin-bottom: 3px;
  padding-right: 3px;
  text-align: right;
  width: 100%; }

#search_by_tag span {
  margin-right: 0.4em; }

#search_by_tag span input[type="radio"] {
  margin: 0 0.2em 0 1em;
  width: 1em;
  vertical-align: sub; }

/*#tagalong_legend {
    border: none;
    padding: 12px;
}
#tagalong_legend .legend_text {
    display: inline-block;
    margin-left: 6px;
    margin-right: 20px;
    vertical-align: middle;
}
#tagalong_legend .tagalong_legend_icon {
    display: inline-block;
    margin-bottom: 12px;
    min-width: 190px;
}*/
#tagalong_category_selector .category_selector.parent {
  display: block;
  float: left; }

#tagalong_cascade_dropdowns {
  display: inline-block;
  position: relative;
  vertical-align: top; }

#tagalong_category_selector .category_selector.child {
  display: none;
  float: left;
  margin-left: 0.2em; }

/**
 ** Search Form
 **/
.sl_header img, .sl_header td {
  border: none;
  cursor: pointer; }

.sl_header #addressSubmit.slp_ui_button {
  /* like-a-button */
  background: #FFF;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #dddddd);
  /* for firefox 3.6+ */
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #BBBBBB;
  border-radius: 3px 3px 3px 3px;
  height: 26px;
  margin: 0px 2px 2px 0px;
  padding: 0px 4px;
  text-align: center;
  cursor: pointer;
  color: #5F5E5E;
  display: block;
  /* Corners */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -khtml-border-radius: 6px;
  /* Shadow */
  -moz-box-shadow: 0px 1px 3px #AAA;
  -webkit-box-shadow: 0px 1px 3px #AAA;
  box-shadow: 0px 1px 3px #AAA; }

.sl_header #addressSubmit.slp_ui_button:hover {
  margin: 2px 0px 0px 2px;
  -moz-box-shadow: 0px 0px 0px #AAA;
  -webkit-box-shadow: 0px 0px 0px #AAA;
  box-shadow: 0px 0px 0px #AAA; }

.sl_header td {
  vertical-align: top;
  text-align: left; }

.sl_header td, .sl_header th, .sl_header tr {
  padding: 4px; }

#address_search {
  width: 600px; }
  #address_search LABEL {
    text-align: right;
    min-width: 100px;
    font-size: 14px;
    display: block;
    float: left;
    padding-right: 8px; }
  #address_search SELECT {
    margin: 0px 6px 0px 0px; }
  #address_search INPUT {
    margin: 0px 6px 0px 0px; }
  #address_search .search_item {
    display: block;
    float: none;
    clear: both; }
    #address_search .search_item SELECT {
      margin: 0px 6px 0px 0px; }

#addy_in_city {
  clear: both;
  float: left;
  margin-right: 6px; }

#addy_in_country {
  float: left; }

#addy_in_address {
  clear: both;
  padding-top: 3px;
  padding-bottom: 3px; }

#addy_in_radius {
  clear: both;
  float: left;
  padding-top: 3px;
  padding-right: 12px; }

#radius_in_submit {
  float: left;
  width: 300px;
  padding-top: 3px; }

/***** Store Locator Map DIV *****/
#sl_div {
  padding: 10px;
  font-weight: bold; }

#sl_div a.storelocatorlink {
  color: #0000FF; }

#sl_div a:hover.storelocatorlink {
  color: #4444FF; }

#sl_div img {
  background-color: transparent;
  background-image: none;
  max-width: none; }

#sl_div table, #sl_div tr, #sl_div td {
  border: none; }

#sl_div #map {
  color: black;
  font-weight: normal;
  display: none;
  visibility: hidden; }

/***** Area Below Map DIV, before Search Results Area *****/
.sl_footer td, .sl_footer td a, .sl_footer td a:link, .sl_footer td a:hover, .sl_footer td a:active, .sl_footer td a:visited {
  font-weight: normal;
  font-size: 10px; }

.sl_footer {
  background-color: black;
  padding: 0px;
  border: 0px black solid;
  color: #222; }

.sl_footer a {
  color: #666;
  font-weight: bold;
  border: 0px black solid;
  padding-left: 5px; }

.sl_footer_right_column {
  padding-right: 5px;
  text-align: right; }

.sl_footer_left_column {
  text-align: left; }

/*****Search Results Area *****/
.searchResultsTable td {
  line-height: 12px;
  font-family: Verdana;
  font-size: 10px;
  text-align: left; }

/**
 ** MAP
 **/
div#sl_div div#slp_tagline {
  background: none repeat scroll 0 0 transparent;
  clear: both;
  display: block;
  margin: 12px;
  width: 100%; }

.text_below_map {
  /*shown before search performed */
  font-family: Arial;
  padding: 20px;
  font-size: 18px;
  text-align: justify; }

.no_results_found {
  /*shown if no results found */
  padding: 10px; }

/**
 ** Results
 **/
#map_sidebar {
  background-color: transparent;
  clear: both;
  font-weight: normal;
  text-align: justify;
  overflow: auto;
  height: 250px;
  font-size: 11px; }
  #map_sidebar .results_entry {
    cursor: pointer;
    padding: 4px;
    border-bottom: solid silver 1px;
    background-color: transparent; }
    #map_sidebar .results_entry:hover {
      background-color: #F4F4F4; }
    #map_sidebar .results_entry .results_row_left_column,
    #map_sidebar .results_entry .results_row_center_column,
    #map_sidebar .results_entry .results_row_right_column {
      display: block;
      width: 100%; }
      #map_sidebar .results_entry .results_row_left_column SPAN,
      #map_sidebar .results_entry .results_row_center_column SPAN,
      #map_sidebar .results_entry .results_row_right_column SPAN {
        display: block;
        padding: 0.1em 0; }
        #map_sidebar .results_entry .results_row_left_column SPAN.location_name,
        #map_sidebar .results_entry .results_row_center_column SPAN.location_name,
        #map_sidebar .results_entry .results_row_right_column SPAN.location_name {
          font-weight: bold; }

span.slp_checkbox_entry {
  padding-right: 12px; }

span.slp_checkbox_entry input[type="checkbox"] {
  vertical-align: text-bottom; }

/* Tagalong result icons */
.results_line.location_iconarray > a {
  display: inline-block;
  height: auto;
  width: auto; }

#tagalong_category_selector {
  display: block;
  height: 2em;
  width: 100%; }

#tagalong_legend {
  border: none;
  padding: 12px; }

#tagalong_legend .legend_text {
  display: inline-block;
  margin-left: 6px;
  margin-right: 20px;
  vertical-align: middle; }

#tagalong_legend .tagalong_legend_icon {
  display: inline-block;
  margin-bottom: 12px;
  min-width: 190px; }
